.catalog__wrapper {
    padding: 20px 0;
}

.catalog_search {
    &__container {
        padding: 0 10px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    &__title {
        margin-right: 5px;
    }

    &__input {
        border: 1px solid $primaryColor;
        flex-grow: 1;
    }
}
