.checkout_basket {
    padding: 20px 0;

    &__heading {
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.checkout__empty_basket_heading {
    margin-bottom: 20px;
}

.goods {
    flex-basis: 50%;
    border-right: 1px solid black;
    margin-right: 20px;
}

.goods__item {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid black;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    &_information {
        display: flex;
    }

    &_description {
        padding-left: 20px;
    }

    &_buttons {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    &_button {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 50px;
        margin: 5px 0;
    }
}

.basket_description {
    flex-basis: 50%;

    &__heading {
        margin-bottom: 20px;
    }

    &__total_prices {
        margin-bottom: 20px;
    }
}
